<div class="container">
  <h2>Game List</h2>
  <div class="main-container">
    <div class="content">
      <ag-grid-angular
        style="width: 100%; height: 600px;"
        class="ag-theme-alpine"
        [rowData]="filteredGames"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
    <div class="sidenav">
      <h3>Filter by Teams</h3>
      <div *ngFor="let team of teams">
        <input
          type="checkbox"
          [id]="team"
          [value]="team"
          (change)="onTeamSelectionChange($event)"
        />
        <label [for]="team">{{ team }}</label>
      </div>
    </div>
  </div>
</div>
